@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "SUIT Variable";
  src: local("SUIT Variable"), url("@/assets/fonts/SUIT-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  height: 100%;
  font-family: "SUIT Variable", sans-serif;
  font-size: 20px;
  line-height: 1;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  height: 100%;
  font-size: 0.8rem;
}

#app {
  height: 100%;
}

#wrap {
  height: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

/* _default.scss */
/* _setup.scss */
body {
  background-color: rgb(var(--color-base));
  color: rgb(var(--color-text));
}

/* _setup.scss */
/* _functions.scss */
/* _functions.scss */
/* _variables.scss */
/* _variables.scss */
/* _light.scss */
@media (prefers-color-scheme: light) {
  :root {
    --color-base: 255, 255, 255;
    --color-text: 51, 65, 85;
    --color-text-highlight: 255, 255, 255;
    --color-text-anti: 51, 65, 85;
    --color-highlight: ;
    --color-agree: ;
    --color-warn: ;
    --color-error: ;
    --color-disable: ;
    --color-pane: 204, 211, 255;
  }
}
/* _light.scss */
/* _dark.scss */
@media (prefers-color-scheme: dark) {
  :root {
    --color-base: 6, 27, 34;
    --color-text: 209, 209, 209;
    --color-text-highlight: 255, 255, 255;
    --color-text-anti: 51, 65, 85;
    --color-highlight: ;
    --color-agree: ;
    --color-warn: ;
    --color-error: ;
    --color-disable: ;
    --color-pane: 255, 255, 255;
  }
}
/* _dark.scss */
/* _ItemDetail.scss */
/* _ItemDetail.scss */
/* _MainSlider.scss */
/* _MainSlider.scss */