@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
	display: list-item;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: "SUIT";
	src: local("SUIT Variable"), url("@/assets/fonts/SUIT-Variable.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "NS-Neo";
	src: local("NanumSquareNeo Variable"), url("@/assets/fonts/NanumSquareNeo-Variable.woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
:root {
	font-family: "SUIT", sans-serif;
	font-size: 20px;
	line-height: 1;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

/* _default.scss */
/* _setup.scss */
:root {
  --clr-id-main: 40, 65, 255;
  --clr-id-sub: 123, 242, 204;
  --clr-id-01: 186, 223, 255;
  --clr-id-02: 38, 46, 111;
  --clr-inter-neutral: 30, 52, 168;
  --clr-inter-agree: 65, 234, 101;
  --clr-inter-warn: 255, 226, 32;
  --clr-inter-error: 228, 88, 77;
  --clr-inter-disable: 168, 171, 185;
  --fnt-title-lg: 1.8rem;
  --fnt-title-md: 1.4rem;
  --fnt-title-sm: 1rem;
  --fnt-md: .7rem;
  --fnt-sm: .6rem;
  --fnt-xs: .5rem;
}

body {
	min-height: 100vh;
	background-color: rgb(var(--clr-base));
	font-family: "SUIT", sans-serif;
	color: rgba(var(--clr-text), 0.75);
	font-size: var(--fnt-md);
}
body.prevent-scroll {
	overflow: hidden;
}

h2 {
  font-size: var(--fnt-title-lg);
}

h3 {
  font-size: var(--fnt-title-md);
}

h4 {
  font-size: var(--fnt-title-sm);
}

img,
picture,
i,
svg,
video {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrap {
	position: relative;
	overflow-x: hidden;
}

/* _setup.scss */
/* _functions.scss */
/* _functions.scss */
/* _variables.scss */
/* _variables.scss */
/* _keyframes.scss */
/* _keyframes.scss */
/* _light.scss */
@media (prefers-color-scheme: light) {
	:root {
		--clr-base: 242, 243, 255;
		--clr-highlight: ;
		--clr-text: 51, 65, 85;
		--clr-text-highlight: 0, 0, 0;
		--clr-text-anti: 209, 209, 209;
		--clr-inter-pane: 255, 255, 255;
		--clr-inter-shade: 0, 0, 0;
	}
}
/* _light.scss */
/* _dark.scss */
@media (prefers-color-scheme: dark) {
	:root {
		--clr-base: 9, 33, 34;
		--clr-highlight: ;
		--clr-text: 209, 209, 209;
		--clr-text-highlight: 255, 255, 255;
		--clr-text-anti: 51, 65, 85;
		--clr-inter-pane: 0, 0, 0;
		--clr-inter-shade: 255, 255, 255;
	}
}
/* _dark.scss */
/* _Main.scss */
/* => 메인 히어로 섹션 */
#mainHero {
  position: relative;
}

.hero-overlay {
  @apply grid items-center absolute inset-0 text-center;
  color: white;
  font-size: 25vw;
  font-weight: 900;
  line-height: 0.8;
}

.hero-video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

/* <= 메인 히어로 섹션 끝 */
/* => 메인 캐치프레이즈 섹션 */
/* <= 메인 캐치프레이즈 섹션 끝 */
/* => 메인 사업 분야 섹션 */
#mainPortfolio {
  @apply flex flex-col gap-10;
}

.portfolio-category {
  @apply flex justify-center gap-20 container mx-auto;
}

.portfolio-description {
  @apply grow-0 shrink basis-1/2 flex flex-col justify-center;
}

[data-pf-category-tag] {
  @apply flex gap-1;
}

.portfolio-tag {
  @apply px-3 py-2 rounded;
  background-color: rgb(var(--clr-inter-pane));
}

.portfolio-picture {
  @apply grow-0 shrink basis-1/2 relative;
  height: 24vmax;
}

[data-pf-category-image] {
  @apply absolute top-0 bottom-0 max-w-none h-full;
  width: 50vmax;
}

.portfolio-category:nth-child(odd) .portfolio-description {
  order: -1;
}
.portfolio-category:nth-child(odd) [data-pf-category-image] {
  left: 0;
}
.portfolio-category:nth-child(even) .portfolio-picture {
  order: -1;
}
.portfolio-category:nth-child(even) [data-pf-category-image] {
  right: 0;
}

/* <= 메인 사업 분야 섹션 끝 */
/* => 메인 소개 섹션 */
/* <= 메인 소개 섹션 끝 */
/* => 메인 뉴스 섹션 */
.recent-article {
  @apply grid;
  grid-template-columns: repeat(4, 1fr);
}

.recent-article-slider {
  @apply flex gap-2;
  grid-column: 2/5;
}

/* <= 메인 뉴스 섹션 끝 */
/* _Main.scss */
/* _ItemDetail.scss */
/* _ItemDetail.scss */
/* _ReactiveComponents.scss */
[data-modal-window] {
	position: fixed;
	inset: 0;
	margin: auto;
	width: max(100% - 0.4rem, 16rem);
}

[data-modal-innards] {
	background-color: rgb(var(--color-pane));
}

/* _ReactiveComponents.scss */
/* _infoBox.scss */
.info-box {
	@apply relative m-4 p-4 rounded-md;
	background-color: rgba(var(--info-type), 0.25);
}
.info-box::before {
	display: block;
	-webkit-margin-after: 1rem;
	        margin-block-end: 1rem;
	font-family: "NS-Neo", sans-serif;
	color: rgb(var(--clr-text-highlight));
	font-size: var(--font-title-m);
	font-weight: 900;
	content: attr(data-infobox-name);
}
.info-box::after {
	@apply rounded-md;
	display: block;
	position: absolute;
	inset: 0;
	border: 1px solid rgba(var(--info-type), 0.5);
	mix-blend-mode: screen;
	pointer-events: none;
	content: "";
}
.info-box.info {
	--info-type: var(--clr-inter-neutral);
}
.info-box.safe {
	--info-type: var(--clr-inter-agree);
}
.info-box.warn {
	--info-type: var(--clr-inter-warn);
}
.info-box.alert {
	--info-type: var(--clr-inter-error);
}

/* _infoBox.scss */