/* _light.scss */

@media (prefers-color-scheme: light) {
    :root {
        --color-base: 242, 243, 255;
        --color-highlight: ;
        --color-text: 51, 65, 85;
        --color-text-highlight: 0, 0, 0;
        --color-text-anti: 209, 209, 209;

        --color-inter-pane: 255, 255, 255;
        --color-inter-shade: 0, 0, 0;
    }
}

/* _light.scss */